* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
section {
  position: relative;
  text-align: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
}
section header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 25px;
}
section header ul {
  display: flex;
  text-align: center;
  justify-content: center;
}
section header ul li {
  list-style: none;
  padding: 5px 7px;
}
section header ul li a {
  text-decoration: none;
  color: #111;
  font-size: 15px;
}
section header ul li button {
  border: none;
  outline: none;
  background-color: #4584f4;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  border-radius: 2px;
  padding: 8px 14px;
  cursor: pointer;
}
.main {
  position:absolute;
  width: 580px;
  display: flex;
  flex-direction:column;
  top: 100px;
  justify-content: center;
  text-align: center;
}
section .main.searchBox {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.search {
  width: 100%;
  padding: 13px;
  padding-left: 45px;
  padding-right: 60px;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid#ccc;
  border-radius: 30px;
  box-shadow: whitesmoke;
  cursor: pointer;

}
input{
  display: block;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 16px;
  padding: 13px;
  padding-left: 45px;
  color: rgb(0, 0, 0, 0.87);
  transform: 100ms;
  outline: none;
  width: 100%;
}
.icon {
  position:relative;
  top: -45px;
  left: -10px;
  width: 100%;
  display: flex;
  padding: 12px 20px;
  align-items: center;
  justify-content:space-between;
  cursor: pointer;
}

.btn {
  border: 1px solid transparent;
  padding: 9px 15px;
  color: #666;
  font-size: 14px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 28px;
  margin-left: 10px;
  outline: none;
  cursor: pointer


}

.lang{
  margin: 0px auto;
  margin-top: 50px;
  padding: 10px;
  font-weight: 400;
  font-size: 15px;
}
.lang a{
  text-decoration: none;
}
.lang a:hover{
  text-decoration: underline;
}
footer{
  background-color: #f2f2f2;
}
footer h4{
  border: 1px solid #ddd;
  padding: 15px;
  font-size: 1rem;
  font-weight: 500;
  color: #666;
}
.links{
  display: flex;
  padding: 20px;
}
footer a{
  display: inline-block;
  color: #666;
  padding: 12px 13.3px;
  font-size: 14px;
  
}
.link1{
  padding-left: 18px;
  flex: 1;
}
.link2{
padding-left: 19px;
}